* {
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
  }

.login{
    background-color: rgba(255, 255, 255, 0.099);
    width: 50vh;
}
.textcolor{
    color: white;
}

.video-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }