.post-form {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-title, .input-content {
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.input-title {
  height: 3rem;
}

.input-content {
  height: 8rem;
}

.control {
  margin: 0 auto;
  width: 100%;
  max-width: 30rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.form-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.modal-content {
  border-radius: 0;
  font-family: Questrial;
}

.modal-header, .modal-footer {
  border: none;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  background-color: #0062cc;
  border-color: #005cbf;
}
